<header>
  <h1>Devices</h1>  
</header>
<% @devices.each do |device| %>
<article>
  <hr />
  <div class="device">
    <div class="pull-right">
      <%= link_to "View", device, :class => "btn-view" %>
    </div>
    <%= link_to device.name, device %><% if device.device_type %> <%= device.device_type.name %><% end %>
  </div>
</article>
<% end %>
