<h1>Device</h1>
<article>
	<div class="span12">
    <hr>
		<h3><%= @device.name %> <small><% if @device.device_type %> <%= @device.device_type.name %><% end %></small></h3>
    <% @device.sessions.each do |session| %>
    
    <% end %>
	</div>
</article>
