<html>
  <head>
    <title>Pass</title>
    <%= javascript_include_tag "/authenticate.min.js" %>
  </head>
  <body>
    <div id="qr-wrapper" data-token="<%= @session.token %>" data-session-id="<%= @session.id %>" data-service-id="<%= @session.service_id %>"></div>
  </body>
</html>
