<h1>What is Pass?</h1>
<p>
  Pass is an experimental authentication system created in an attempt to provide an alternate to password-based credentials.
</p>
<h1>How does it work?</h1>
<p>
  
</p>
<h1>No really, how does it work?</h1>
<p>
  
</p>
<h1>Is it secure?</h1>
<p>
  Pass uses secure one-time-use tokens and strong elliptic curve cryptography.
</p>
<h1>Who made this?</h1>
<p>
  Pass was created by <a target="_blank" href="http://www.jamesbrennan.ca">James Brennan</a>.
</p>